:root {
    --color: white;
    --primary-font: "DM Sans", sans-serif;
    --sidebar-font: "Poppins", sans-serif;
}

body {
    color: var(--color);
    font-family: var(--primary-font);


}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/* side bar custom styles */
.side-bar {
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
    font-family: var(--sidebar-font);

}

.side-bar-clr {
    color: #FFFFFFB2 !important;

}

.nav-link {
    position: relative !important;
}

.nav-link::before {
    --border-color: #FFFFFF21;
    --border-size: 1px;
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF21;


    border: var(--border-size) solid var(--border-color);
    z-index: -1;
    transition: all 100ms ease-in-out;

}

.nav-link:hover::before,
.nav-link:focus::before {
    z-index: 1;
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);

}

/* main page custom styling */

.main-page {
    background: #edeff4;
    position: relative;


}

#page-title,
footer * {
    color: #707EAE !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.searh-bar {
    border-radius: 20px;
    background: #fff;
    flex: 0 0 28% !important;
    height: 50px;
}

#sub-search {
    border: none;
    background-color: transparent;

}

#sub-search:focus {
    outline: none;
}

.sub-search {
    width: 187px;
    height: 35px;
    background-color: #F4F7FE;
    border-radius: 20px;
}

th {
    color: #8B95B7 !important;
   
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    
    
}

td {
    font-size: 14px !important;
}

th::after {
    font-family: "Material Symbols Outlined";
    
    content: "\e5cf";
    font-size: 20px;
  
    vertical-align: middle;
    color: #8B95B7;


}

#page-subtitle {

    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;

}

.sub-search label span,
td,
#page-subtitle {
    color: #2B3674 !important;
}

.material-symbols-outlined.bell-icn {
    color: #A3AED0;
}

#add_employee {
    border-radius: 15px;
    background-color: #4318FF;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    
}

.edit {
    position: relative;
}

.edit-details {
    display: none;
    position: absolute;
    top: 31px;
    right: 0px;
    height: 130px;
    width: 150px;
    z-index: 1;
    background-color: #fff;
    border: 0.5px solid #D3D8E2;
    box-shadow: 0px 1px 4px 0px #1010311F;
    padding-top: 20px;
    border-radius: 20px;

}

.select-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #4318FF;
    height: 35px;
    width: 35px;
    background-color: #EBEFF8;

}

ul {
    list-style: none;
}



.edit-details button {
    background: transparent;
    border: none;
}

.delete {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    top: 50%;
    left: 30%;
    width: 690px;
    height: 250px;
    border-radius: 22px !important;
    background-color: #988a8a;
    color: #2B3674;
    z-index: 1;
}

.err {
    color: red;
    font-size: 12px;
}

.card {

    display: none;
    position: absolute;
    left: 20%;
    bottom: -314px;

}

.table-main {
    border-radius: 20px;
    overflow-x: scroll;
}


.details {
    background-color: #fff;
    color: #2B3674;
    display: none;
    position: relative;
}

/*  Bootstrap styling */

.material-symbols-outlined.icn-fnt-32 {
    font-size: 32px;
}

.h3-style {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--text-color) !important;
}

.h5-style {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    margin: 0px;
}

.h6-style {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #8F9BBA;
    margin: 0px;

}

.sal-width {
    flex: 0 0 22%;
}

.lbl-brdr {
    border: 2px dashed #B2BAD0;
    border-radius: 15px;
}

.lbl-style {

    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color) !important;
}

.chck-custom {
    width: 14px;
    height: 14px;
}

.lbl-style.lbl-style-m-0 {
    margin-bottom: 0rem;
}

.text-clr {
    color: #4318FF;
}

.lbl-astrck::after {
    content: '*';
    color: red;
    margin-left: 2px;
}


input::placeholder,
textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.card-header {
    background: transparent !important;
    border-bottom: none;

}

.alert {
    border-radius: 15px;
}

.upld-pdng {
    padding-right: 11px;
    padding-left: 11px;
}

.card-body {
    padding-top: 0.5rem;
}

.btn {
    border-radius: 11px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}


/* Loader CSS */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid #988a8a;
    border-top-color: #2B3674;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {

    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.side_images {
    height: 36px;
    width: 36px;
    border-radius: 12px;
    background-color: #2B3674;
    color: #fff;
    font-size: 13px;

}

.img_view {
    height: 119px;
    width: 119px;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    border: 4px solid #FFFFFF;
}

#edit_image {
    display: none;
}

.button_page {
    background-color: #2B3674;
    color: #fff;
}



.edit_image_div {
    display: none;
}


.add-emp-cnfrmation {

    z-index: 1;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    border-radius: 22px;


    width: 250px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #0F0441;

}

label[for=employee-row] {
    color: #2B3674;
    flex: 0 0 200px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

#employee-row {
    flex: 0 0 65px !important;
}

.add_emplyee_div
{
    display: flex;
    justify-content: end;
}

tr {
    vertical-align: middle;
}

#form {
    position: relative;

}

.view-details-box {
    box-shadow: 0px 18px 40px 0px #7090B01F;
    border-radius: 16px;
}

.full_name h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #2B3674;

}

.view-details-box {
    font-weight: 500;
    color: #707EAE;
    font-size: 14px;
    line-height: 20px;
}

.view-details-cntnt {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2B3674;
}


/* Dashboard styling   */



.fw-bolder {
    font-weight: 700 !important;
    font-size: 23px !important;
    line-height: 29px !important;
}

.fw-normal {
    font-weight: 300 !important;
    font-size: 23px !important;
    line-height: 29px !important;
}

.nav li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.sidebar-ftr h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.sidebar-ftr img {
    height: 31px;
    width: 107px;
}

.page-option {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.td-data
{


font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.02em;


}